 /* body com as particulas */
body {
  font-family: "Jersey 15", sans-serif;
  margin: 0;
  padding: 0;
  background: #0b0020;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* bolinhas */
.particle.dot-cyan {
  background: #2eeaff;
  border-radius: 50%;
}

.particle.dot-pink {
  background: #ff2ea8;
  border-radius: 50%;
}

/* quadrados */
.particle.square-cyan {
  width: 14px;
  height: 14px;
  border: 3px solid #2eeaff;
  border-radius: 3px;
}

.particle.square-pink {
  width: 14px;
  height: 14px;
  border: 3px solid #ff2ea8;
  border-radius: 3px;
}
/* container das partículas */
.particles-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* geral */
.particle {
  position: absolute;
  opacity: 0.9;
  animation: neonPulse 2.5s infinite ease-in-out alternate;
}

/* efeito */
@keyframes neonPulse {
  0% { transform: scale(1); filter: blur(0px); opacity: 0.5; }
  100% { transform: scale(1.15); filter: blur(1.5px); opacity: 1; }
}

#status {
  color: #2affb1 !important; 
  font-size: 22px;             
  text-align: center;
}

.about-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.about-image img {
  max-width: 350px; 
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.container-fluid-noticias {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.img-noticia {
  width: 60%;          
  height: auto;        
  display: block;
  margin: 0 auto;   
}




/* Navbar */
.custom-navbar {
  padding: 20px 40px; 
  background-color:#0b0020;
}
.navbar,
.navbar-brand,
.nav-link 
{
  font-family: "Jersey 15", sans-serif !important;
  font-size: 28px;
  color: #2efff5 !important;
  
}

.navbar-toggler {
  border-color: #2efff5 !important;
}

.navbar-toggler-icon {
  filter: invert(80%) sepia(80%) saturate(300%) hue-rotate(120deg);
}


/* login */
.titulo-login {
  font-size: 60px;
  margin-top: 40px;
}
.login-container {
  height: 70vh;
}
.login-card {
  width: 400px;
  padding: 25px;
  border-radius: 20px;
  background: #F24976;
}
.form-label {
  font-size: 28px;
}
.form-control {
  font-size: 22px;
  padding: 12px;
}

/* textos e titulos */
h1{
  text-align: center;
  font-family: "Jersey 15", sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #ff2e96;
} 
h2, h3, h4{
  text-align: center;
  font-family: "Jersey 15", sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #2ef8ff;
 
}

p{
  color: #c37cfd;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}
/* texto no meio */
.text-container {
    max-width: 700px;     
    margin: 0 auto;       
    text-align: center;    
    padding: 20px;
}
li{
  color: rgb(255, 47, 172);
}

/* títulos */
.text-container h1 {
    font-size: 3rem;
    margin-bottom: 25px;
}

.text-container h2 {
    font-size: 2.2rem;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* parágrafos */
.text-container p {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 25px;
    text-align: center;
}


 /* card noticia */
.news-card {
  background: #100427;
  color: greenyellow;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 30px;

  
  min-height: 420px;
  
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
  border: 2px solid transparent;
  transition: 0.3s ease;
}

/* imagem da card */
.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* hover neon*/
.news-card:hover {
  background-color: rgb(153, 29, 255);
  transform: scale(1.03);
  color: #000;

  border-color: #d26bff;
  box-shadow:
    0 0 5px   #d26bff,
    0 0 10px  #d26bff,
    0 0 20px  #d26bff,
    0 0 40px  #d26bff;
}



/* card do post*/

#lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.card {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  background: #250344!important;
  border: none !important;
  border-radius: 20px !important;
  overflow: hidden !important;
  padding: 20px; 
}


.card img {
  width: 100%;              
  height: 260px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Título neon */
.card-title {
  color: #00eaff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}

/* Texto do conteúdo */
.card-text {
  color: #c8b4e3;
  font-size: 1rem;
}

/* Autor */
.card-text strong {
  color: #ff67ff;
}

/* Data */
.text-muted {
  color: #6f4a82 !important;
}

/* Espaçamento interno */
.card-body {
  padding: 25px;
}


/* Labels e inputs e textarea*/
label {
  color: #ff2793 !important; /* rosa claro */
  font-weight: bold;
}

/* link login */
a {
  color:#ff2793 !important;
}

/*  hover do link */
a:hover {
  color: #ffc8ff !important;
}
input.form-control {
  background-color: #4b007d !important;
  border: 2px solid hsl(277, 87%, 53%) !important; 
  color: #ffffff !important; 
  border-radius: 8px;
}
input.form-control::placeholder {
  color: #e5b6ff !important;
}
input.form-control:focus {
  background-color: #5a0099 !important; 
  border: 2px solid #d070ff !important; 
  box-shadow: 0 0 10px #d070ff !important;
  outline: none !important;
}

textarea.form-control{
  background-color: #4b007d !important;
  border: 2px solid hsl(277, 87%, 53%) !important;
  color: #ffffff !important; 
  border-radius: 8px;
}
textarea.form-control::placeholder {
  color: #e5b6ff !important; 
}
textarea.form-control:focus {
  background-color: #5a0099 !important; 
  border: 2px solid #d070ff !important; 
  box-shadow: 0 0 10px #d070ff !important; 
  outline: none !important;
}
/* botões  */
.btn-post {
  display: block;
  width: 45%;
  margin: 0 auto; 
  text-align: center;
  background-color: #27f1ff !important;
  color: #25463b !important;
  padding: 14px 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  border: none !important;
}

.btn-post:hover {
  background-color: #7489ff !important;
  transform: scale(1.03);
}
.btn-postar {
  display: block;
  width: 45%;
  margin: 0 auto;         
  text-align: center;
  background-color: #27f1ff !important;
  color: #25463b !important;
  padding: 14px 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  border: none !important;
}

.btn-postar:hover {
  background-color: #7489ff !important;
  transform: scale(1.03);
}

.btn-outline-cadastro {
  background-color: #ff2793 !important; 
  color: #570b46 !important;
  border: none !important;
  font-weight: 600;               
  font-size: 22px !important;     
  padding: 14px 16px;
  border-radius: 10px;
  transition: background-color 0.3s ease; 
  filter: none !important;        
  text-shadow: none !important;   
}
.btn-outline-cadastro:hover {
  background-color: #ff78da !important;
}

.btn-outline-a {
  background-color: #ff2793  ;
  color: #ff8efb !important;
  font-weight: bold;
  text-decoration: none;
}
.btn-entrar {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ff2793;
  color: #ffffff !important; 
  padding: 14px 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}


.btn-entrar:hover {
  background-color: #ff74da;
  transform: scale(1.03); 
}
.btn-deletar {
  background-color: #f24957;
  color: #000 !important; 
  border: none;
  transition: 0.3s ease;
}

.btn-deletar:hover {
  background-color: #a52121; 
  transform: scale(1.03);
  color: #000;
}

.btn-editar {
  background-color: rgb(52, 247, 189);
  color: #000 !important; 
  border: none;
  transition: 0.3s ease;
}

.btn-editar:hover {
  background-color: rgb(36, 211, 114); 
  transform: scale(1.03);
  color: #000;
}







